@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	background-color: #ffe9d2;
	color:black;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
}

.grid-container{
	background-color:white;
	color:black;}

.header {
	background-color: #db9c59;
	color: #ffffff ;
	font-style:italic;
	font-size: 50px;
	border-radius: 10px;
	margin-top: 10px;
}

.logo {
	color: #ffffff;
	background-color:transparent;
}

.jumbotron {
	padding: 200px 0px;
	margin: 5px 0px;
	background: url(../images/jumbotron.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	margin-bottom: 20px;
	border-radius: 5px;
}

.jumbotron h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.project {
	background-color: #ffc78c;
	color:black;
	height: 250px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	margin-right: 50px;
}

.persoon {
	background-color: #ffc78c;
	color:black;
	height: 10%;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.64);
	border-radius: 360px;
}

.titel {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 0px;
}

#navigatie {
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#navigatie ul {
	list-style-type:none;
	margin:0;
	padding-top:3%;
}

#navigatie ul li {
	margin-right: 30px;
}

#navigatie ul li a {
	text-decoration:none;
	background-color: #ffd8b0;
	color: #000000;
	border: 1px solid #000000;
	display: block;
	width: 100%;
	padding: 15px;
	font-size: 15px;
	border-radius: 10px;
	text-align:center;
}

#navigatie li {
	float:left;
}

#navigatie li a:hover{
	background-color: #8DBAC9;
	color: #000000;
	font-weight:bold;
}
 
 .opmaakTekstjes{
	 text-align:center;
	 font-size:12px;
	 padding: 0;
}
 
#foot{
	background-color: #db9c59;
	color: #ffffff ;
	margin-top:150px;
	margin-bottom:10px;
	padding:20px;
	text-align:right;
	border-radius: 10px;
}